{% extends "base.html.twig" %}
{% block title %}Deaktiviran uporabnik{% endblock %}

{% block content %}

    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <h1>Vaš račun je deaktiviran</h1>
            <p>Če menite, da je prišlo do napake, kontaktirajte administratorja.</p>
        </div>
    </section>

{% endblock %}