{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            {{ errorHtml | raw }}
        </div>
    </section>

{% endblock %}