{% extends "base.html.twig" %}
{% block title %}Naročilo oddano{% endblock %}

{% block content %}


    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <h1 class="my-5">Naročilo oddano</h1>

            <h3 class="my-5">Naročilo št. <b>{{ idNarocila }}</b> je bilo uspešno oddano.</h3>

            <p class="my-5">Vsa oddana naročila si lahko ogledate s klikom na meni "naročila".</p>
        </div>
    </section>

{% endblock %}