{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <h3>Potrditveno elektronsko sporočilo je na poti. Pred prijavo kliknite na povezavo v sporočilu.</h3>

    <p>Če v nekaj minutah ne prejmete sporočila, preverite še mapo z vsiljeno pošto.</p>

    <p><a href={{ BASE_URL }}prijava" ?>">Prijavi se</a></p>

{% endblock %}