.checkbox {
    margin-left: 1rem;
}

label {
    margin-bottom: 0px;
}

img[name=obstojecaSlika] {
    height: 250px;
    width: auto;
}

img.slika {
    height: 400px;
    width: auto;
}

.qf2-captcha-question {
    width: 100%;
}

.block2-labelnew::before {
    content: 'novo';
}

.header1 {
    height: 80px;
}