.checkbox {
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    margin-top: 10px;
    margin-left: 5px;
}

img[name=obstojecaSlika] {
    height: 250px;
    width: auto;
}

img.slika {
    height: 400px;
    width: auto;
}

.qf2-captcha-question {
    width: 100%;
}

.block2-labelnew::before {
    content: 'novo';
}

.header1 {
    height: 80px;
}

.bg-title-page {
    min-height: 350px;
}

.quickform input {
    border: 1px solid #ced4da !important;
}

.errors {
    color: red;
}

.errors p {
    color: red;
    font-weight: bold;
}

.errors ul {
    padding-left: 30px;
}

.errors ul li {
    list-style-type: disc;
}

.normal-list ul {
    padding-left: 30px;
}

.normal-list ul li {
    list-style-type: disc;
}